/* 初始化样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: ZhenyanGB;
    src: url(../static/font/锐字真言体免费商用.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    /* 主题色 */
    --main-color: rgb(119, 16, 45);
    /* 副色 */
    --subColor: rgb(180, 7, 26);
    /* 灰色 */
    --border-color: rgb(209, 209, 209);
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #fff;
    font-family: '幼圆';
    padding-top: 85px;
}

a {
    text-decoration: none;
    color: #000;
}

input {
    outline: none;
}

button {
    outline: none;
}

ul {
    list-style-type: none;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}